.learning__card .card__img {
    height: 0;
    padding-top: 57%;
}

/* learning--carousel */
.learning--carousel .carousel__nav {
    bottom: 32px;
    width: 50px;
}

.learning--carousel .listing__head {
    margin-left: 0rem;
}

.learning--carousel .carousel__items {
    scroll-padding: 0rem;
}

.carousel__items .learning__card {
    width: calc(75% - 14px);
}

.learning__card .card__link {
    display: block;
}

.learning--carousel {
    margin-right: 0rem;
}

@media (min-width: 640px) {
    .carousel__items .learning__card {
        width: calc(65% - 14px);
    }
}

/* 768px */

@media (min-width: 768px) {
    .carousel__items .learning__card {
        width: calc(55% - 14px);
    }
}

/* 1024px */

@media (min-width: 1024px) {
    .carousel__items .learning__card {
        width: calc(45% - 14px);
    }
}

/* 1200px */
@media (min-width: 1200px) {
    .carousel__items .learning__card {
        width: calc(35% - 20px);
    }

    .learning--carousel .listing__head {
        margin-left: 1.5rem;
    }

    .learning--carousel .carousel__items {
        scroll-padding: 1.5rem;
    }
}

@media (min-width: 1800px) {
    .carousel__items .learning__card {
        width: calc(25% - 20px);
    }
}