.listing--carousel .listing__head {
    margin-right: 1rem;
    margin-left: 1rem;
}

.listing__head {
    display: flex;
    align-items: baseline;
    margin: 1rem 0;
    color: #fff;
}

.listing__title {
    font-size: 1.5rem;
    letter-spacing: 0.4px;
}

.listing__explore {
    margin-left: 0.7rem;
    font-size: 0.9rem;
    color: #2196f3;
    letter-spacing: 0.4px;
}

.listing__explore strong {
    font-weight: 500;
}

.listing__explore:focus,
.listing__explore:hover {
    opacity: 0.8;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__items {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    line-height: 1.8;
    white-space: nowrap;
    transform: translateZ(0);
    /* -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; */
    scroll-snap-type: x mandatory;
    scroll-padding: 15px;
    scrollbar-width: none;
}

.carousel__items .card {
    display: inline-block;
    width: calc(33.333% - 7.33326px);
    padding-right: 0px;
    margin: 0;
    white-space: normal;
    vertical-align: top;
    scroll-snap-align: start;
}

.carousel__items .card:first-child {
    margin-left: 15px;
}

.carousel__nav {
    position: absolute;
    top: 0;
    bottom: 60px;
    z-index: 1;
    width: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    outline: 0;
    transition: opacity 0.25s ease, background-color 0.25s ease;
}

.carousel__nav--right {
    right: 0;
}

.carousel__nav--left {
    left: 0;
}

.carousel__nav:focus,
.carousel__nav:hover {
    background: rgba(0, 0, 0, .75);
}

.card__img {
    position: relative;
    height: 0;
    padding-top: 150.27%;
    overflow: hidden;
    background-color: #202124;
    transition: transform 0.3s ease-in-out;
}

.card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    /* transform: scale(.97); */
}

.card__img:hover {
    transform: scale(1.02);
}


.card__name {
    margin-top: 0.4rem;
    overflow: hidden;
    font-size: 1rem;
    text-overflow: ellipsis;
    letter-spacing: 0.4px;
    white-space: nowrap;
    color: #fff;
}

.card__rating {
    display: flex;
    align-items: center;
}

.card__stars,
.card__stars>div {
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.card__stars {
    width: 5.1rem;
    height: .8rem;
    /* border: 1px solid #fff; */
    background-image: url(../../assets/bgStar.png);
}

.card__stars>div {
    height: 100%;
    background-image: url(../../assets/bgStarFill.png);
}

.card__vote {
    margin-left: .6rem;
    font-size: 0.9rem;
    color: #80868b;
}

.carousel__items .card {
    display: inline-block;
    margin-right: 8px;
}

@media (min-width: 640px) {
    .listing {
        margin: 3rem 0rem;
    }

    .carousel__items .card {
        width: calc(25% - 18px);
    }
}

@media (max-width: 767px) {
    .carousel__nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .listing--carousel .listing__head {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .carousel__items .card:first-child {
        margin-left: 40px;
    }

    .carousel__nav {
        width: 40px;
    }
}

@media (min-width: 1024px) {
    .carousal_itmes .carousel__items .card {
        width: calc(20% - 14.4px);
    }
}

@media (min-width: 1200px) {
    .carousel__items {
        scroll-padding: 50px;
    }

    .listing--carousel .listing__head {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .carousel__items .card {
        width: calc(20% - 18.4px);
    }

    .carousel__nav {
        bottom: 60px;
        width: 50px;
    }

    .carousel__items .card:first-child {
        margin-left: 50px;
    }

    .card__name {
        font-size: 1rem;
    }

    @media (min-width: 1200px) {
        .card__vote {
            font-size: 0.9rem;
        }
    }
}

@media (min-width: 1500px) {
    .carousel__items .card {
        width: calc(16.667% - 15.33364px);
    }
}

@media (min-width: 1800px) {
    .carousel__items .card {
        width: calc(13.8% - 13.14312px);
    }
}